<div class="example-header">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filtro"
    />
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Codigo
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Nome
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="genero">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Genero
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.genero}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="duracao">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Duração
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.duracao}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
